extends ../layouts/default

block content
  .project
    .galleria
      if project.video
        a(href=project.video)
          span.video
      each image in project.images
        a(href=image.fill(300, 200))
        img(src=image.fit(1200, 800))

block sidebar
  .project-category-blurb
    h1.capitalize= project.name
    .mja-breadcrumb
      a(href='/projects') Projects
      span= ' - '
      a(href='/projects/' + project.category.slug)= project.category.name
      a(href='/projects/' + project.category.slug +'/'+ project.slug) 
        em= ' - ' + project.name
    .sidebar-content
      != project.description
